/* =====================================
   ADMIN STYLES
===================================== */

.admin{

    padding:35px;

}

.admin h1{

    margin-bottom:10px;

}

.admin p{

    color:#64748B;

}

/* =====================================
   RESPONSIVE
===================================== */

@media screen and (max-width:768px){

    .container,
    .dashboard,
    .main-layout{

        padding:15px;

    }

    table{

        display:block;

        overflow-x:auto;

    }

    img{

        max-width:100%;

        height:auto;

    }

}
